/* playfair-display-700 - latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../Assets/fonts/playfair-display-v21-latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../Assets/fonts/playfair-display-v21-latin-ext-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../Assets/fonts/playfair-display-v21-latin-ext-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../Assets/fonts/playfair-display-v21-latin-ext-700.woff')
      format('woff'),
    /* Modern Browsers */
      url('../Assets/fonts/playfair-display-v21-latin-ext-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../Assets/fonts/playfair-display-v21-latin-ext-700.svg#PlayfairDisplay')
      format('svg'); /* Legacy iOS */
}

/* pt-serif-caption-regular - latin-ext */
@font-face {
  font-family: 'PT Serif Caption';
  font-style: normal;
  font-weight: 400;
  src: url('../Assets/fonts/pt-serif-caption-v12-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../Assets/fonts/pt-serif-caption-v12-latin-ext-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../Assets/fonts/pt-serif-caption-v12-latin-ext-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../Assets/fonts/pt-serif-caption-v12-latin-ext-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../Assets/fonts/pt-serif-caption-v12-latin-ext-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../Assets/fonts/pt-serif-caption-v12-latin-ext-regular.svg#PTSerifCaption')
      format('svg'); /* Legacy iOS */
}
