@import 'fonts';
@import 'resets';

$heading-color: #2d2e33;
$text-color: #6c6d74;
$accent-color: #b4b5ba;
$brand-color: #57cbbc;

body {
  font-family: 'PT Serif Caption', serif;
  text-align: center;
  color: $text-color;

  min-height: 100vh;
  padding: 2em;

  display: grid;
  place-items: center;
}

svg {
  height: 100%;
  max-width: 100%;
  grid-column: 1/4;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  transition: fill 0.3s ease-in-out;
  position: relative;
}

h3 {
  font-family: 'Playfair Display', serif;
}

.price-info {
  font-size: 0.8em;
  font-style: italic;
}

.tooltip {
  font-size: 0.65em;
  background-color: rgba(#fff, 0.75);
  border: 1px solid $accent-color;
  padding: 1em;

  position: absolute;
  display: none;

  pointer-events: none;
}
